<li>Getting there</li>
<li>Where to set-up and enter the water</li>
<li>Interesting features</li>
<li>Relevant compass bearings</li>
<li>Best time to dive</li>
<li>Hazards</li>
<li>General considerations</li>
