<div class="welcome">
  <h1>Welcome to the DiveSites</h1>
</div>

<div id="panel">
  <span>Find a dive site near:</span>
  <input id="address" type="textbox" value="Boston, MA">
  <input id="address" type="button" value="Search" onclick="geocodeAddress()">
</div>

<div class="new_dive_site">
  <% if signed_in? %>
    <%= link_to "Add a dive site", new_dive_site_path %>
  <% end %>
</div>

<div id="map_wrapper">
  <div id="map_canvas"></div>
</div>

<div class="cards">
  <ul>
    <%= render collection: @dive_sites, partial: "dive_sites/listing" %>
  </ul>
</div>
