<div id="map-canvas"></div>

<h1>Welcome to the DiveSites</h1>

<div id="panel">
Find a dive site near:
  <input id="address" type="textbox" value="Boston, MA">
  <input id="address" type="button" value="Search" onclick="geocodeAddress()">
</div>

<div class="new_dive_site">
<% if signed_in? %>
  <% if current_user.can_modify? %>
    <%= link_to "Add a dive site", new_dive_site_path %>
  <% end %>
<% end %>
</div>

<div id="map_wrapper">
  <div id="map_canvas"></div>
</div>

<div class="cards">
  <ul>
    <%= render collection: @dive_sites, partial: "dive_sites/listing" %>
  </ul>
</div>
