<h1>Welcome to the DiveSites</h1>

<% if signed_in? %>
  <% if current_user.can_modify? %>
    <%= link_to "Add a dive site", new_dive_site_path %>
  <% end %>
<% end %>

<ul>
  <%= render collection: @dive_sites, partial: "dive_sites/listing" %>
</ul>
