<div class="address">Sandy Bay, Honduras</div>
<h1>Welcome to the DiveSites</h1>

<% if signed_in? %>
  <% if current_user.can_modify? %>
    <%= link_to "Add a dive site", new_dive_site_path %>
  <% end %>
<% end %>

<div id="map_wrapper">
  <div id="map_canvas"></div>
</div>

<ul>
  <%= render collection: @dive_sites, partial: "dive_sites/listing" %>
</ul>

