<div id="panel">
  <span>Add a dive site near:</span>
  <input id="address" type="textbox" value="Boston, MA">
  <input id="address" type="button" value="Locate" onclick="geocodeAddress()">
</div>

<%= render "form", dive_site: @dive_site %>

<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
