<div class="dive_site_show">
  <div class="dive_site_info">
    <%= render @dive_site %>
  </div>

  <div class="edit_site">
    <%= link_to "Edit Site Info", edit_dive_site_path %>
  <div>

    <%= render collection: @images, partial: "dive_sites/image" %>

  <% if signed_in? %>
    <%= render "images/form", image: @image %>
  <% end %>
</div>
