#user-carousel {
  clear: both;

  .item{
    margin: 3px;

    img{
      display: block;
    }
  }
}

#dive-carousel {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  clear: both;

  .item {
    padding:5px;

    img {
      display: block;
      width: 100%;
      height: auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
}
