#user-carousel {
  clear: both;
  top: 10px;

  .item{
    margin: 3px;

    img{
      display: block;
    }
  }
}

#dive-carousel {
  @include span-columns(7);
  margin-top: 20px;

  .item {
    padding:5px;

    img {
      display: block;
      width: 100%;
      height: auto;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
    }
  }
}
