.dive_site_show {
  @include span-columns(10);
  @include shift(1);

  .dive-description {
    @include span-columns(7);
    clear: both;
  }

  .edit_site {
    @include shift(9);
  }

  .nearby_sites {
    @include span-columns(4);
    margin-top: 20px;
    clear: both;
  }

  .dive_image_form {
    clear: both;
  }
}

.reset_form {
  clear: both;
  @include shift(1);
}
